/*公共重置样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{font-family:Helvetica,HelveticaNeue,Arial,Verdana,Sans-serif;;margin:0;padding:0}html{font-size:1rem;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal}table{border-collapse:collapse;border-spacing:0}q:before,q:after{content:''}object,embed{vertical-align:top}hr,legend{display:none}img,abbr,acronym,fieldset{border:0}ul li{list-style-type:none}a,label{cursor:pointer}img{vertical-align:bottom;margin:0;padding:0}a{text-decoration:none;outline:0}h1,h2,h3,h4,h5,h6{font-weight: 400}.clearfix:after{content:".";visibility:hidden;display:block;height:.1px;font-size:.1em;line-height:0;clear:both}.clearfix{*zoom:1}input,textarea,select{outline:0;border:1px solid #ccc;border-radius: 0;}input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc}input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}button{cursor:pointer;color:#666}textarea{resize:none;outline:0;overflow:hidden;padding:5px}select{outline:0}img{max-width: 100%}*{-webkit-tap-highlight-color:rgba(255,255,255,0); -webkit-appearance: none;}body{max-width: 640px;margin: 0 auto;background-color: #f8f9fc;}img{outline:none;}
.com-two-overflow {
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.com-body-top {
    padding-top: 7.5rem;
}
.com-nav-top {
    margin-top: 3rem;
}
.play-mark {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #d43c33;
}
.play-mark:after {
    content: '';
    position: absolute;
    left: .5rem;
    top: .4rem;
    width: 0;
    height: 0;
    width: 0;
    height: 0;
    border-top: .3rem solid transparent;
    border-left: .6rem solid #d43c33;
    border-bottom: .3rem solid transparent;

}

.search-item {
    display: block;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: #333;
    border-bottom: 1px solid #efefef;
}
.search-item .name {
    font-size: 1.2rem;
    width: 10rem;
    height: 1.8rem;
    overflow:hidden;
}
.search-item .details {
    font-size: .8rem;
    color: #808080;
}

.com-nums {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 1.5rem;
    background-image: linear-gradient(180deg,rgba(0,0,0,.2),transparent);
    color: #fff;
    text-align: right;
    padding: .2rem .3rem 0 0;
    font-size: .9rem;
}
.com-no-num {
    margin-top: 5rem;
    text-align: center;
}
